/* SCSS file */
/* Here is the styling done for the CSS file */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End Reset */
@font-face {
  font-family: 'exo2';
  src: url("../fonts/exo2/exo2-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/exo2/exo2-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source';
  src: url("../fonts/source/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sinkinsans';
  src: url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.eot");
  src: url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.woff2") format("woff2"), url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.woff") format("woff"), url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.ttf") format("truetype"), url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.hidden {
  display: none !important; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.glyphicon-collapse-down:before {
  content: "\e159"; }

.glyphicon-collapse-up:before {
  content: "\e160"; }

.collapse {
  display: none; }

.collapse.in {
  display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility; }

.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0; }

.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0; }

.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0; }

.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px; }

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd; }

.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd; }

@media (min-width: 1200px) {
  .col-xs-offset-12 {
    margin-left: 100%; }

  .col-xs-offset-11 {
    margin-left: 91.66666667%; }

  .col-xs-offset-10 {
    margin-left: 83.33333333%; }

  .col-xs-offset-9 {
    margin-left: 75%; }

  .col-xs-offset-8 {
    margin-left: 66.66666667%; }

  .col-xs-offset-7 {
    margin-left: 58.33333333%; }

  .col-xs-offset-6 {
    margin-left: 50%; }

  .col-xs-offset-5 {
    margin-left: 41.66666667%; }

  .col-xs-offset-4 {
    margin-left: 33.33333333%; }

  .col-xs-offset-3 {
    margin-left: 25%; }

  .col-xs-offset-2 {
    margin-left: 16.66666667%; }

  .col-xs-offset-1 {
    margin-left: 8.33333333%; }

  .col-xs-offset-0 {
    margin-left: 0; } }
@media (min-width: 768px) {
  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0; } }
/* Main Stylesheet for MG */
body {
  background-color: #000021; }

.hidden {
  display: none; }

#mainHeader {
  background-color: #000021; }
  #mainHeader .navbar-toggler {
    border: 1px solid #ffffff; }
  #mainHeader #navbarText {
    font-family: "sinkinsans", Helvetica, sans-serif; }
    #mainHeader #navbarText .nav-item {
      padding: 0 15px; }
      #mainHeader #navbarText .nav-item a {
        color: #ffffff; }
        #mainHeader #navbarText .nav-item a:hover {
          text-decoration: underline; }
    #mainHeader #navbarText .navbar-nav {
      margin: 0 auto; }

.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0; }

#mainBanner {
  background: url(../images/banner-background.jpg) no-repeat;
  /*.test a{
    position: absolute;
    top: 50px;
  }*/ }
  #mainBanner #stats {
    padding: 22px;
    background-color: #FFE368;
    width: 300px;
    font-size: 24px;
    color: #093E7D;
    font-family: "source", Arial, sans-serif;
    font-weight: bold; }
  #mainBanner #statsInfographic {
    margin: 50px 0 64px 0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  #mainBanner #mgBannerImgs {
    float: right;
    width: 500px;
    bottom: 0; }
  #mainBanner #mgBannerImgs {
    float: right;
    width: 500px;
    bottom: 0; }
  #mainBanner #mg1 {
    position: absolute;
    z-index: auto;
    bottom: 0;
    opacity: 0;
    animation: mg1 20s infinite; }
  #mainBanner #mg2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    animation: mg2 20s infinite;
    opacity: 0; }
  #mainBanner #mg3 {
    position: absolute;
    z-index: 2;
    bottom: 0;
    opacity: 0;
    animation: mg3 20s infinite; }
@keyframes mg1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  24% {
    opacity: 1; }
  32% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes mg2 {
  0% {
    opacity: 0; }
  32% {
    opacity: 0; }
  42% {
    opacity: 1; }
  62% {
    opacity: 1; }
  64% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes mg3 {
  0% {
    opacity: 0; }
  64% {
    opacity: 0; }
  74% {
    opacity: 1; }
  88% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  #mainBanner #mgQuote {
    background-color: #000d21;
    font-family: 'sourcesans';
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 20px 0; }
  #mainBanner #mgQuote p {
    margin-bottom: 0; }
  #mainBanner #storeBack {
    background-color: #000021;
    padding: 30px; }
  #mainBanner #promoCon {
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 840px; }
  #mainBanner #productsCon2 {
    display: none; }
  #mainBanner #productsCon3 {
    display: none; }
  #mainBanner .products {
    position: relative; }
  #mainBanner .test {
    position: relative; }
  #mainBanner .overlay {
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    /*height: 100%;*/
    text-align: center;
    color: #fff;
    font-family: 'sinkinsans';
    top: 40%;
    padding: 10px; }
  #mainBanner .overlay:hover {
    opacity: 1;
    text-decoration: none;
    color: #fff; }
  #mainBanner .prodName {
    font-family: 'sinkinsans';
    font-size: 12px;
    color: #fff;
    padding-top: 15px; }
  #mainBanner .prodPrice {
    font-family: 'sourcesans';
    color: #ffe368;
    bottom: 0; }
  #mainBanner .page-link {
    background-color: #000021;
    color: #ffe386;
    border: 1px solid #aebfc9; }
  @media (max-width: 575px) {
    #mainBanner .nav-item {
      text-align: center;
      border-bottom: 1px solid #fff; }
    #mainBanner #accountNav {
      display: block; }
    #mainBanner #statsCon {
      z-index: 3; }
    #mainBanner #stats {
      padding: 10px;
      background-color: #ffe368;
      /* width: 300px; */
      font-size: 16px;
      color: #093e7d; }
    #mainBanner #statsInfographic {
      margin: 50px 0 64px 0;
      background: rgba(0, 0, 0, 0.6);
      padding: 20px;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      /*-webkit-animation-duration: 3s;
      /*animation-duration: 3s;*/
      /*-webkit-animation-fill-mode: both;
      animation-fill-mode: both;*/ } }
  #mainBanner #initS {
    position: none;
    z-index: 5;
    opacity: 1; }
@keyframes rings {
  0% {
    opacity: 1; }
  60% {
    opacity: 1; }
  65% {
    opacity: 0; } }
  #mainBanner #statI {
    top: 115px;
    position: absolute;
    z-index: 500; }
@keyframes rings2 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  30% {
    opacity: 1; } }
#mgQuote {
  background-color: #000021;
  font-family: "source", Arial, sans-serif;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 20px 0; }
  #mgQuote p {
    margin-bottom: 0; }

#storeBack {
  background-color: #000021;
  padding: 30px; }
  #storeBack #promoCon {
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 840px; }
  #storeBack h2 {
    color: #fff;
    font-family: "sinkinsans", Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 15px; }
  #storeBack #productsCon2 {
    display: none; }
  #storeBack #productsCon3 {
    display: none; }
  #storeBack .products {
    position: relative; }
    #storeBack .products .overlay {
      opacity: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: "sinkinsans", Helvetica, sans-serif;
      top: 40%;
      padding: 10px; }
      #storeBack .products .overlay:hover {
        opacity: 1;
        text-decoration: none;
        color: #fff; }
    #storeBack .products .prodName {
      font-family: "sinkinsans", Helvetica, sans-serif;
      font-size: 12px;
      color: #fff;
      padding-top: 15px; }
    #storeBack .products .prodPrice {
      font-family: "source", Arial, sans-serif;
      color: #FFE368;
      bottom: 0; }

.page-link {
  background-color: #000021;
  color: #FFE368;
  border: 1px solid #AEBFC9; }

#updatesCon {
  background-color: #000021; }
  #updatesCon h2 {
    color: #fff;
    font-family: "sinkinsans", Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 15px; }
  #updatesCon .updatesCard {
    border: 1px #fff solid;
    padding: 15px;
    color: #fff; }
    #updatesCon .updatesCard .updatesThumb {
      margin-right: 15px;
      float: left; }
    #updatesCon .updatesCard h3 {
      font-family: "sinkinsans", Helvetica, sans-serif;
      font-size: 18px;
      padding-bottom: 5px; }
    #updatesCon .updatesCard a {
      color: #FFE368;
      padding: 10px 0 0 5px; }
      #updatesCon .updatesCard a:hover {
        text-decoration: none;
        color: #fff;
        border: 1px solid #FFE368;
        border-radius: 7px;
        padding: 5px; }
  #updatesCon #rowBut {
    background-color: #093E7D;
    padding: 3px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 30px; }
    #updatesCon #rowBut a {
      color: #fff;
      font-family: "source", Arial, sans-serif;
      font-size: 20px; }
      #updatesCon #rowBut a:hover {
        text-decoration: none;
        color: #FFE368; }

footer h3 {
  font-family: "sinkinsans", Helvetica, sans-serif;
  color: #093E7D;
  font-size: 18px; }
footer ul {
  list-style-type: none;
  padding: 0; }
footer a {
  font-family: "source", Arial, sans-serif;
  color: #fff;
  font-size: 16px; }
  footer a:hover {
    color: #FFE368;
    font-weight: bold; }
footer #footerCol1 {
  border-right: 1px solid #fff; }
footer #footerCol2 {
  border-right: 1px solid #fff; }
footer #socialIcons li {
  height: 45px;
  width: 45px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline; }
footer #socialIcons a {
  height: 45px;
  width: 45px;
  margin-bottom: 10px;
  opacity: .8; }
  footer #socialIcons a:hover {
    opacity: .4; }
footer #footerCol3 {
  border-right: 1px solid #fff; }
  footer #footerCol3 #footerNewsletter {
    color: #fff; }
    footer #footerCol3 #footerNewsletter a {
      color: #FFE368;
      font-weight: bold; }
footer #copyRight {
  font-family: "source", Arial, sans-serif;
  text-align: center;
  color: #fff;
  padding-top: 10px; }

@media (max-width: 990px) {
  .nav-item {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 0; }
    .nav-item a:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.5); }

  #accountNav {
    display: block; } }
@media (min-width: 576px) and (max-width: 767px) {
  #footerCol1 {
    border-bottom: 1px solid #fff; }

  #footerCol2 {
    border-bottom: 1px solid #fff;
    border-right: none !important; }

  #footerCol3 {
    padding-top: 15px; }

  #footerCol4 {
    padding-top: 15px; } }
@media (max-width: 575px) {
  .nav-item {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 0; }
    .nav-item a:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.5); }

  #accountNav {
    display: block; }

  #statsCon {
    z-index: 3; }
    #statsCon #stats {
      padding: 10px;
      background-color: #FFE368;
      font-size: 16px;
      color: #093E7D; }
    #statsCon #statsInfographic {
      margin: 50px 0 64px 0;
      background: rgba(0, 0, 0, 0.6);
      padding: 20px;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }

  .updatesCard {
    margin-bottom: 15px; }
    .updatesCard h3 {
      font-size: 16px; }

  footer {
    text-align: center; }
    footer #footerCol1 {
      border-bottom: 1px solid #fff;
      border-right: none; }
    footer #footerCol2 {
      border-bottom: 1px solid #fff;
      border-right: none;
      padding-top: 15px; }
    footer #footerCol3 {
      border-bottom: 1px solid #fff;
      border-right: none;
      padding-top: 15px; }
    footer #footerCol4 {
      border-bottom: 1px solid #fff;
      padding-top: 15px; } }
#bioDesk {
  border: none; }

.heading {
  color: #f4f4f4;
  font-size: 1.5em;
  background: #052956;
  padding: 10px;
  transition: 0.3s ease-in;
  cursor: pointer; }
  .heading:hover {
    background: #093e7d; }
    .heading:hover img {
      filter: grayscale(0%); }
  .heading .h1tag {
    display: none;
    margin: 0 auto;
    text-transform: uppercase;
    position: absolute;
    vertical-align: middle;
    z-index: 20;
    margin-top: 100%; }
    .heading .h1tag h1 {
      text-align: center; }
  .heading .whenClick {
    height: 2px;
    text-transform: uppercase;
    position: absolute;
    z-index: 20; }
  .heading .disImg {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    filter: grayscale(100%);
    transition: 0.3s ease-in; }

.desc {
  padding: 30px;
  background: #093e7d;
  color: #b6d3d0;
  font-size: 1.7em; }
  .desc p {
    margin-top: 15px; }
  .desc .closeBio {
    width: 30px;
    height: 10px;
    float: right;
    background: #8CBCEC;
    clear: both;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer; }

#descCol {
  display: none; }

#descCar {
  display: none; }

#descPer {
  display: none; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  text-align: center; }

.card {
  color: #b6d3d0;
  background: #000c20;
  overflow: hidden; }

.card-header {
  background: #062b5a;
  transition: 0.3s ease-in; }
  .card-header:hover {
    background: #0f3d77; }

.card-body {
  background: #093e7d;
  vertical-align: middle;
  padding: 0; }

h5 {
  font-family: 'sourcesans', 'Arial', sans-serif;
  font-size: 2em;
  color: #b6d3d0; }
  h5 a {
    color: #b6d3d0; }

.color-img {
  background: #000815;
  height: inherit;
  padding: 8px; }
  .color-img img {
    margin: 0 auto;
    display: block; }

.desc {
  display: table-cell;
  padding: 30px; }
  .desc p {
    vertical-align: middle;
    font-family: 'sinkinsans', 'Arial', sans-serif;
    font-size: 0.8em; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center; }

@font-face {
  font-family: 'sinkinsans';
  src: url("../fonts/sinkin/sinkinsans-400regular-webfont.woff2") format("woff2"), url("../fonts/sinkin/sinkinsans-400regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sourcesans';
  src: url("../fonts/sourcesans/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesans/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@media (min-width: 425px) and (max-width: 768px) {
  .desc {
    padding: 10px;
    padding-right: 20px;
    font-size: 1.2em; }
    .desc p {
      margin-top: 0px; }

  .card-body .color-img img {
    margin: 0 auto;
    margin-top: 5%; } }
@media (min-width: 100px) and (max-width: 425px) {
  .desc {
    padding: 20px;
    padding-right: 20px;
    font-size: 0.8em; }
    .desc p {
      margin-top: 0px; }

  .card-body .color-img img {
    margin: 0 auto;
    margin-top: 0%; } }
.hidden {
  display: none; }

li {
  list-style-type: none; }

html, .timeline {
  height: 100%; }

.timeline {
  background-image: url(../images/timeline/bg-bolt.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  transition: 1.5s; }

.timeline {
  width: 100%; }

div, .timeline {
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif; }

.container {
  height: 100%;
  width: 100%; }

h2 {
  color: #FFE368;
  font-weight: 700;
  font-size: 3em; }

.text p {
  color: #ffff;
  font-family: "source", Arial, sans-serif;
  font-size: 20px;
  padding-top: 20px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px; }

.firstRow {
  opacity: .5;
  cursor: pointer;
  transition: .3s; }

.secondRow {
  opacity: .5;
  cursor: pointer;
  transition: .3s; }

.thirdRow {
  opacity: .5;
  cursor: pointer;
  transition: .3s; }

.fourthRow {
  opacity: .5;
  cursor: pointer;
  transition: .3s; }

.fifthRow {
  opacity: .5;
  cursor: pointer;
  transition: .3s; }

.lastRow {
  opacity: .5;
  cursor: pointer;
  transition: .3s; }

.firstRow:hover {
  opacity: 1;
  transition: .3s; }

.secondRow:hover {
  opacity: 1;
  transition: .3s; }

.thirdRow:hover {
  opacity: 1;
  transition: .3s; }

.fourthRow:hover {
  opacity: 1;
  transition: .3s; }

.fifthRow:hover {
  opacity: 1;
  transition: .3s; }

.lastRow:hover {
  opacity: 1;
  transition: .3s; }

.image {
  display: block;
  padding-top: 20px; }

@media screen and (max-width: 62em) {
  .timeline {
    transition: 1s; } }
@media screen and (max-width: 48em) {
  .timeline {
    transition: 1s; }

  .image {
    display: none; }

  .text {
    opacity: 1;
    cursor: auto; }

  .firstRow {
    opacity: 1;
    cursor: pointer;
    transition: .3s; }

  .secondRow {
    opacity: 1;
    cursor: pointer;
    transition: .3s; }

  .thirdRow {
    opacity: 1;
    cursor: pointer;
    transition: .3s; }

  .fourthRow {
    opacity: 1;
    cursor: pointer;
    transition: .3s; }

  .fifthRow {
    opacity: 1;
    cursor: pointer;
    transition: .3s; }

  .lastRow {
    opacity: 1;
    cursor: pointer;
    transition: .3s; } }
.prodInf {
  /* display: none; */
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  z-index: 400; }
  .prodInf img {
    display: block;
    margin: 0 auto; }
  .prodInf .details {
    margin-left: 10px; }
  .prodInf .prodDetails {
    margin-top: 1%;
    background: #083e7d;
    padding: 20px;
    color: #c0cdd5; }
  .prodInf .colnqty {
    margin-top: 30px; }
  .prodInf .blueB {
    display: inline-block;
    background: #2e447a;
    border: 6px white;
    height: 35px;
    width: 45px; }
  .prodInf input {
    display: inline-block;
    width: 45px; }
  .prodInf .sizes span {
    padding: 2px;
    margin: 10px;
    float: left;
    display: inline-block;
    width: 40px;
    background: #6d8dad;
    text-align: center;
    transition: 0.2s ease-in; }
    .prodInf .sizes span:hover {
      background: #4f6e8c; }

.closePU {
  font-size: 1.5em;
  color: #c0cdd5;
  text-decoration: none; }

#addcart {
  padding: 20px;
  border: none;
  background: #000d22;
  color: #c0cdd5;
  font-size: 1.5em;
  transition: 0.5s ease-in; }
  #addcart:hover {
    background: #335387; }

.buttonCart {
  margin-top: 50px;
  margin-bottom: 20px; }

#popUp-men28 {
  display: none; }

.notice {
  font-size: .8em; }

.headerDet {
  margin-bottom: 20px; }

@media (min-width: 1024px) {
  .col-lg-offset-1 {
    margin-left: 8.33333333%; } }
@media (max-width: 992px) {
  .col-md-offset-1 {
    margin-left: 8.33333333%; } }
@media (max-width: 768px) {
  .col-sm-offset-1 {
    margin-left: 8.33333333%; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
/* FILTER */
.filter {
  display: block;
  position: absolute;
  z-index: 400;
  height: 200px;
  width: 150px;
  margin-left: -15%;
  margin-top: 15%;
  background: #4e5d6c; }
  .filter h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffe56a;
    font-size: 2em;
    text-align: center;
    padding-right: 250px;
    transform: rotate(-90deg); }

.filterInf {
  display: none;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  padding-top: 50px;
  width: 150%;
  z-index: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3e7ed;
  margin-left: -10px; }
  .filterInf .filtinfo {
    width: 120%;
    background: #083e7d;
    padding: 20px; }
    .filterInf .filtinfo ul {
      margin-left: 0; }
      .filterInf .filtinfo ul li {
        list-style: none;
        font-size: 1.5em; }

.filtPhone {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3e7ed; }
  .filtPhone .filTitle {
    font-size: 1em; }
  .filtPhone ul {
    margin-left: 0; }
    .filtPhone ul li {
      list-style: none;
      font-size: 1em; }

.carousel-indicators {
  position: relative;
  overflow: hidden;
  margin-top: 5%; }

.carousel-item {
  max-height: 100vh;
  min-width: 100%; }

#lightbox .modal-content {
  display: inline-block;
  text-align: center; }

#lightbox .close {
  opacity: 1;
  color: white;
  background-color: #191919;
  padding: 5px 8px;
  border-radius: 30px;
  border: 2px solid white;
  position: absolute;
  top: -15px;
  right: -55px;
  z-index: 1032; }

/*div {
	/*border:1px solid white;
	background-color: black;
	color: white;
	text-align: center;
}*/
.hidden {
  display: none; }

.empty {
  background-color: white; }

.header {
  height: 288px; }

.line > .verticalLine {
  padding: 0 8px; }

.line:after {
  content: "";
  display: table;
  clear: both; }

.verticalLine {
  float: left;
  /*width: 25%;*/ }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: black; }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  /* width: 90%; */
  /* max-width: 1200px; */
  width: 100%;
  overflow: hidden; }

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #fefefe;
  text-decoration: none;
  cursor: pointer; }

.mySlides {
  display: none; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display: none; }

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: black; }

img.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

img.hover-shadow {
  transition: 0.3s; }

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.newsletter {
  background-color: #083e7d;
  margin-bottom: 30px;
  color: white;
  padding: 5%; }

.btn-outline-success:hover {
  background-color: #000d22;
  border-color: #000d22; }

.btn {
  border-color: #000d22;
  color: #000d22; }

input::-webkit-input-placeholder {
  color: #000d22 !important; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #000d22 !important; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000d22 !important; }

input:-ms-input-placeholder {
  color: #000d22 !important; }

.emailsub {
  float: left; }

.signinPg {
  display: none;
  position: fixed;
  z-index: 500;
  height: auto;
  width: 90%;
  margin-left: 10%;
  background: #083e7d;
  padding: 1%;
  top: 30%; }
  .signinPg h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffe56a;
    font-size: 2em; }
  .signinPg label {
    color: white; }

.signinform {
  float: left; }

.regform {
  float: right; }

@media (max-width: 450px) {
  .carousel img {
    width: 160px; } }

/*# sourceMappingURL=style.css.map */
