/* SCSS file */
/* Here is the styling done for the CSS file */
@font-face {
  font-family: 'exo2';
  src: url("../fonts/exo2/exo2-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/exo2/exo2-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source';
  src: url("../fonts/source/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sinkinsans';
  src: url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.eot");
  src: url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.woff2") format("woff2"), url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.woff") format("woff"), url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.ttf") format("truetype"), url("../fonts/sinkinsans/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.col-sm-6 {
  width: 50%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .hidden {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 768px) and (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 768px) and (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
@media (min-width: 768px) {
  .glyphicon-collapse-down:before {
    content: "\e159"; }

  .glyphicon-collapse-up:before {
    content: "\e160"; }

  .collapse {
    display: none; }

  .collapse.in {
    display: block; }

  tr.collapse.in {
    display: table-row; }

  tbody.collapse.in {
    display: table-row-group; }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility; }

  .panel > .list-group,
  .panel > .panel-collapse > .list-group {
    margin-bottom: 0; }

  .panel > .list-group .list-group-item,
  .panel > .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0; }

  .panel > .list-group:first-child .list-group-item:first-child,
  .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }

  .panel > .list-group:last-child .list-group-item:last-child,
  .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }

  .panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

  .panel > .table,
  .panel > .table-responsive > .table,
  .panel > .panel-collapse > .table {
    margin-bottom: 0; }

  .panel > .table caption,
  .panel > .table-responsive > .table caption,
  .panel > .panel-collapse > .table caption {
    padding-right: 15px;
    padding-left: 15px; }

  .panel-group .panel-heading + .panel-collapse > .panel-body,
  .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #ddd; }

  /* Main Stylesheet for MG */
  body {
    background-color: #000021; }

  .hidden {
    display: none; }

  #mainHeader {
    background-color: #000021; }
    #mainHeader .navbar-toggler {
      border: 1px solid #ffffff; }
    #mainHeader #navbarText {
      font-family: "sinkinsans", Helvetica, sans-serif; }
      #mainHeader #navbarText .nav-item {
        padding: 0 15px; }
        #mainHeader #navbarText .nav-item a {
          color: #ffffff; }
          #mainHeader #navbarText .nav-item a:hover {
            text-decoration: underline; }
      #mainHeader #navbarText .navbar-nav {
        margin: 0 auto; }

  .jumbotron {
    margin-bottom: 0;
    padding-bottom: 0; }

  #mainBanner {
    background: url(../images/banner-background.jpg) no-repeat;
    /*.test a{
      position: absolute;
      top: 50px;
    }*/ }
    #mainBanner #stats {
      padding: 22px;
      background-color: #FFE368;
      width: 300px;
      font-size: 24px;
      color: #093E7D;
      font-family: "source", Arial, sans-serif;
      font-weight: bold; }
    #mainBanner #statsInfographic {
      margin: 50px 0 64px 0;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @keyframes fadeIn {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
    #mainBanner #mgBannerImgs {
      float: right;
      width: 500px;
      bottom: 0; }
    #mainBanner #mgBannerImgs {
      float: right;
      width: 500px;
      bottom: 0; }
    #mainBanner #mg1 {
      position: absolute;
      z-index: auto;
      bottom: 0;
      opacity: 0;
      animation: mg1 20s infinite; }
    #mainBanner #mg2 {
      position: absolute;
      z-index: 1;
      bottom: 0;
      animation: mg2 20s infinite;
      opacity: 0; }
    #mainBanner #mg3 {
      position: absolute;
      z-index: 2;
      bottom: 0;
      opacity: 0;
      animation: mg3 20s infinite; }
  @keyframes mg1 {
    0% {
      opacity: 0; }
    10% {
      opacity: 1; }
    24% {
      opacity: 1; }
    32% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @keyframes mg2 {
    0% {
      opacity: 0; }
    32% {
      opacity: 0; }
    42% {
      opacity: 1; }
    62% {
      opacity: 1; }
    64% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @keyframes mg3 {
    0% {
      opacity: 0; }
    64% {
      opacity: 0; }
    74% {
      opacity: 1; }
    88% {
      opacity: 1; }
    100% {
      opacity: 0; } }
    #mainBanner #mgQuote {
      background-color: #000d21;
      font-family: "source", Arial, sans-serif;
      text-align: center;
      color: #fff;
      font-size: 18px;
      padding: 20px 0; }
    #mainBanner #mgQuote p {
      margin-bottom: 0; }
    #mainBanner #storeBack {
      background-color: #000021;
      padding: 30px; }
    #mainBanner #promoCon {
      margin: 0 auto;
      padding-bottom: 30px;
      max-width: 840px; }
    #mainBanner #productsCon2 {
      display: none; }
    #mainBanner #productsCon3 {
      display: none; }
    #mainBanner .products {
      position: relative; }
    #mainBanner .test {
      position: relative; }
    #mainBanner .overlay {
      opacity: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      /*height: 100%;*/
      text-align: center;
      color: #fff;
      font-family: "sinkinsans", Helvetica, sans-serif;
      top: 40%;
      padding: 10px; }
    #mainBanner .overlay:hover {
      opacity: 1;
      text-decoration: none;
      color: #fff; }
    #mainBanner .prodName {
      font-family: "sinkinsans", Helvetica, sans-serif;
      font-size: 12px;
      color: #fff;
      padding-top: 15px; }
    #mainBanner .prodPrice {
      font-family: "source", Arial, sans-serif;
      color: #ffe368;
      bottom: 0; }
    #mainBanner .page-link {
      background-color: #000021;
      color: #ffe386;
      border: 1px solid #aebfc9; } }
  @media (min-width: 768px) and (max-width: 575px) {
    #mainBanner .nav-item {
      text-align: center;
      border-bottom: 1px solid #fff; }
    #mainBanner #accountNav {
      display: block; }
    #mainBanner #statsCon {
      z-index: 3; }
    #mainBanner #stats {
      padding: 10px;
      background-color: #ffe368;
      /* width: 300px; */
      font-size: 16px;
      color: #093e7d; }
    #mainBanner #statsInfographic {
      margin: 50px 0 64px 0;
      background: rgba(0, 0, 0, 0.6);
      padding: 20px;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      /*-webkit-animation-duration: 3s;
      /*animation-duration: 3s;*/
      /*-webkit-animation-fill-mode: both;
      animation-fill-mode: both;*/ } }

@media (min-width: 768px) {
  #initS {
    position: none;
    z-index: 5;
    animation: rings 3.5s;
    animation-iteration-count: 1;
    opacity: 0; }

  @keyframes rings {
    0% {
      opacity: 1; }
    60% {
      opacity: 1; }
    65% {
      opacity: 0; } }
  #statI {
    top: 115px;
    position: absolute;
    animation: rings2 8s;
    z-index: 500; }

  @keyframes rings2 {
    0% {
      opacity: 0; }
    25% {
      opacity: 0; }
    30% {
      opacity: 1; } } }
#mgQuote {
  background-color: #000021;
  font-family: "source", Arial, sans-serif;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 20px 0; }
  #mgQuote p {
    margin-bottom: 0; }

#storeBack {
  background-color: #000021;
  padding: 30px; }
  #storeBack #promoCon {
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 840px; }
  #storeBack h2 {
    color: #fff;
    font-family: "sinkinsans", Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 15px; }
  #storeBack #productsCon2 {
    display: none; }
  #storeBack #productsCon3 {
    display: none; }
  #storeBack .products {
    position: relative; }
    #storeBack .products .overlay {
      opacity: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: "sinkinsans", Helvetica, sans-serif;
      top: 40%;
      padding: 10px; }
      #storeBack .products .overlay:hover {
        opacity: 1;
        text-decoration: none;
        color: #fff; }
    #storeBack .products .prodName {
      font-family: "sinkinsans", Helvetica, sans-serif;
      font-size: 12px;
      color: #fff;
      padding-top: 15px; }
    #storeBack .products .prodPrice {
      font-family: "source", Arial, sans-serif;
      color: #FFE368;
      bottom: 0; }

.page-link {
  background-color: #000021;
  color: #FFE368;
  border: 1px solid #AEBFC9; }

#updatesCon {
  background-color: #000021; }
  #updatesCon h2 {
    color: #fff;
    font-family: "sinkinsans", Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 15px; }
  #updatesCon .updatesCard {
    border: 1px #fff solid;
    padding: 15px;
    color: #fff; }
    #updatesCon .updatesCard .updatesThumb {
      margin-right: 15px;
      float: left; }
    #updatesCon .updatesCard h3 {
      font-family: "sinkinsans", Helvetica, sans-serif;
      font-size: 18px;
      padding-bottom: 5px; }
    #updatesCon .updatesCard a {
      color: #FFE368;
      padding: 10px 0 0 5px; }
      #updatesCon .updatesCard a:hover {
        text-decoration: none;
        color: #fff;
        border: 1px solid #FFE368;
        border-radius: 7px;
        padding: 5px; }
  #updatesCon #rowBut {
    background-color: #093E7D;
    padding: 3px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 30px; }
    #updatesCon #rowBut a {
      color: #fff;
      font-family: "source", Arial, sans-serif;
      font-size: 20px; }
      #updatesCon #rowBut a:hover {
        text-decoration: none;
        color: #FFE368; }

footer h3 {
  font-family: "sinkinsans", Helvetica, sans-serif;
  color: #093E7D;
  font-size: 18px; }
footer ul {
  list-style-type: none;
  padding: 0; }
footer a {
  font-family: "source", Arial, sans-serif;
  color: #fff;
  font-size: 16px; }
  footer a:hover {
    color: #FFE368;
    font-weight: bold; }
footer #footerCol1 {
  border-right: 1px solid #fff; }
footer #footerCol2 {
  border-right: 1px solid #fff; }
footer #socialIcons li {
  height: 45px;
  width: 45px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline; }
footer #socialIcons a {
  height: 45px;
  width: 45px;
  margin-bottom: 10px;
  opacity: .8; }
  footer #socialIcons a:hover {
    opacity: .4; }
footer #footerCol3 {
  border-right: 1px solid #fff; }
  footer #footerCol3 #footerNewsletter {
    color: #fff; }
    footer #footerCol3 #footerNewsletter a {
      color: #FFE368;
      font-weight: bold; }
footer #copyRight {
  font-family: "source", Arial, sans-serif;
  text-align: center;
  color: #fff;
  padding-top: 10px; }

@media (max-width: 990px) {
  .nav-item {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 0; }
    .nav-item a:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.5); }

  #accountNav {
    display: block; } }
@media (min-width: 576px) and (max-width: 767px) {
  #footerCol1 {
    border-bottom: 1px solid #fff; }

  #footerCol2 {
    border-bottom: 1px solid #fff;
    border-right: none !important; }

  #footerCol3 {
    padding-top: 15px; }

  #footerCol4 {
    padding-top: 15px; } }
@media (max-width: 575px) {
  .nav-item {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 0; }
    .nav-item a:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.5); }

  #accountNav {
    display: block; }

  #statsCon {
    z-index: 3; }
    #statsCon #stats {
      padding: 10px;
      background-color: #FFE368;
      font-size: 16px;
      color: #093E7D; }
    #statsCon #statsInfographic {
      margin: 50px 0 64px 0;
      background: rgba(0, 0, 0, 0.6);
      padding: 20px;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }

  .updatesCard {
    margin-bottom: 15px; }
    .updatesCard h3 {
      font-size: 16px; }

  footer {
    text-align: center; }
    footer #footerCol1 {
      border-bottom: 1px solid #fff;
      border-right: none; }
    footer #footerCol2 {
      border-bottom: 1px solid #fff;
      border-right: none;
      padding-top: 15px; }
    footer #footerCol3 {
      border-bottom: 1px solid #fff;
      border-right: none;
      padding-top: 15px; }
    footer #footerCol4 {
      border-bottom: 1px solid #fff;
      padding-top: 15px; } }
#bioDesk {
  border: none; }

.heading {
  color: #f4f4f4;
  font-size: 1.5em;
  background: #052956;
  padding: 10px;
  transition: 0.3s ease-in;
  cursor: pointer; }
  .heading:hover {
    background: #093e7d; }
    .heading:hover img {
      filter: grayscale(0%); }
  .heading .h1tag {
    display: none;
    margin: 0 auto;
    text-transform: uppercase;
    position: absolute;
    vertical-align: middle;
    z-index: 20;
    margin-top: 100%; }
    .heading .h1tag h1 {
      text-align: center; }
  .heading .whenClick {
    height: 2px;
    text-transform: uppercase;
    position: absolute;
    z-index: 20; }
  .heading .disImg {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    filter: grayscale(100%);
    transition: 0.3s ease-in; }

.desc {
  padding: 30px;
  background: #093e7d;
  color: #b6d3d0;
  font-size: 1.7em; }
  .desc p {
    margin-top: 15px; }
  .desc .closeBio {
    width: 30px;
    height: 10px;
    float: right;
    background: #8CBCEC;
    clear: both;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer; }

#descCol {
  display: none; }

#descCar {
  display: none; }

#descPer {
  display: none; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  text-align: center; }

.card {
  color: #b6d3d0;
  background: #000c20;
  overflow: hidden; }

.card-header {
  background: #062b5a;
  transition: 0.3s ease-in; }
  .card-header:hover {
    background: #0f3d77; }

.card-body {
  background: #093e7d;
  vertical-align: middle;
  padding: 0; }

h5 {
  font-family: "source", Arial, sans-serif;
  font-size: 2em;
  color: #b6d3d0; }
  h5 a {
    color: #b6d3d0; }

.color-img {
  background: #000815;
  height: inherit;
  padding: 8px; }
  .color-img img {
    margin: 0 auto;
    display: block; }

.desc {
  display: table-cell;
  padding: 30px; }
  .desc p {
    vertical-align: middle;
    font-family: "sinkinsans", Helvetica, sans-serif;
    font-size: 0.8em; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center; }

@media (min-width: 425px) and (max-width: 768px) {
  .desc {
    padding: 10px;
    padding-right: 20px;
    font-size: 1.2em; }
    .desc p {
      margin-top: 0px; }

  .card-body .color-img img {
    margin: 0 auto;
    margin-top: 5%; } }
@media (min-width: 100px) and (max-width: 425px) {
  .desc {
    padding: 20px;
    padding-right: 20px;
    font-size: 0.8em; }
    .desc p {
      margin-top: 0px; }

  .card-body .color-img img {
    margin: 0 auto;
    margin-top: 0%; } }
.hidden {
  display: none; }

li {
  list-style-type: none; }

html, .timeline {
  height: 100%; }

.timeline {
  background-image: url(../images/timeline/bg-bolt-3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  transition: 1.5s; }

.timeline {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "exo2", Arial, sans-serif;
  padding: 10px; }
  .timeline h2 {
    color: #FFE368;
    font-weight: 700;
    font-size: 3em; }
  .timeline p {
    color: white; }
  .timeline .firstRow {
    opacity: .5;
    cursor: pointer;
    transition: .3s; }
  .timeline .secondRow {
    opacity: .5;
    cursor: pointer;
    transition: .3s; }
  .timeline .thirdRow {
    opacity: .5;
    cursor: pointer;
    transition: .3s; }
  .timeline .fourthRow {
    opacity: .5;
    cursor: pointer;
    transition: .3s; }
  .timeline .fifthRow {
    opacity: .5;
    cursor: pointer;
    transition: .3s; }
  .timeline .lastRow {
    opacity: .5;
    cursor: pointer;
    transition: .3s; }
  .timeline .firstRow:hover {
    opacity: 1;
    transition: .3s; }
  .timeline .secondRow:hover {
    opacity: 1;
    transition: .3s; }
  .timeline .thirdRow:hover {
    opacity: 1;
    transition: .3s; }
  .timeline .fourthRow:hover {
    opacity: 1;
    transition: .3s; }
  .timeline .fifthRow:hover {
    opacity: 1;
    transition: .3s; }
  .timeline .lastRow:hover {
    opacity: 1;
    transition: .3s; }
  .timeline .image {
    display: block;
    padding-top: 20px; }
  .timeline .text p {
    font-family: "source", Arial, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    opacity: 0; }
  @media screen and (max-width: 62em) {
    .timeline .timeline {
      background-image: url(../images/timeline/bg.jpg);
      transition: 1s; } }
  @media screen and (max-width: 48em) {
    .timeline .timeline {
      background-image: url(../images/timeline/bg.jpg);
      transition: 1s; }
    .timeline .image {
      display: none; }
    .timeline .firstRow {
      opacity: 1;
      cursor: pointer;
      transition: .3s; }
    .timeline .secondRow {
      opacity: 1;
      cursor: pointer;
      transition: .3s; }
    .timeline .thirdRow {
      opacity: 1;
      cursor: pointer;
      transition: .3s; }
    .timeline .fourthRow {
      opacity: 1;
      cursor: pointer;
      transition: .3s; }
    .timeline .fifthRow {
      opacity: 1;
      cursor: pointer;
      transition: .3s; }
    .timeline .lastRow {
      opacity: 1;
      cursor: pointer;
      transition: .3s; } }

.prodInf {
  /* display: none; */
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  z-index: 400; }
  .prodInf img {
    display: block;
    margin: 0 auto; }
  .prodInf p {
    font-family: Arial, Helvetica, sans-serif; }
  .prodInf .details {
    margin-left: 10px; }
  .prodInf .prodDetails {
    background: #083e7d;
    color: #c0cdd5; }
  .prodInf .blueB {
    display: inline-block;
    background: #2e447a;
    border: 6px white;
    height: 35px;
    width: 45px; }
  .prodInf ul li {
    font-family: Arial, Helvetica, sans-serif; }
  .prodInf button {
    font-family: Arial, Helvetica, sans-serif; }
  .prodInf input {
    display: inline-block;
    width: 45px;
    font-family: Arial, Helvetica, sans-serif; }
  .prodInf .sizes span {
    padding: 2px;
    margin: 10px;
    float: left;
    display: inline-block;
    width: 40px;
    background: #6d8dad;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s ease-in; }
    .prodInf .sizes span:hover {
      background: #4f6e8c; }

.closePU {
  font-size: 1.5em;
  color: #c0cdd5;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; }

#addcart {
  padding: 20px;
  border: none;
  background: #000d22;
  color: #c0cdd5;
  font-size: 1.5em;
  transition: 0.5s ease-in; }
  #addcart:hover {
    background: #335387; }

#popUp-men28 {
  display: none; }

.notice {
  font-size: .8em; }

@media (min-width: 1024px) {
  .col-lg-offset-1 {
    margin-left: 8.33333333%; } }
@media (max-width: 992px) {
  .col-md-offset-1 {
    margin-left: 8.33333333%; } }
@media (max-width: 768px) {
  .col-sm-offset-1 {
    margin-left: 8.33333333%; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
/* FILTER */
.filter {
  display: block;
  position: absolute;
  z-index: 400;
  height: 200px;
  width: 150px;
  margin-left: -15%;
  margin-top: 15%;
  background: #4e5d6c; }
  .filter h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffe56a;
    font-size: 2em;
    text-align: center;
    padding-right: 250px;
    transform: rotate(-90deg); }

.filterInf {
  display: none;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  padding-top: 50px;
  width: 150%;
  z-index: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3e7ed;
  margin-left: -10px; }
  .filterInf .filtinfo {
    width: 120%;
    background: #083e7d;
    padding: 20px; }
    .filterInf .filtinfo ul li {
      list-style: none;
      font-size: 1.5em; }

.filtPhone {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3e7ed; }
  .filtPhone ul li {
    list-style: none;
    font-size: 0.8em; }

#lightbox .modal-content {
  display: inline-block;
  text-align: center; }

#lightbox .close {
  opacity: 1;
  color: white;
  background-color: #191919;
  padding: 5px 8px;
  border-radius: 30px;
  border: 2px solid white;
  position: absolute;
  top: -15px;
  right: -55px;
  z-index: 1032; }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 5%;
  /* width: 90%; */
  /* max-width: 1200px; */
  width: 100%;
  overflow: hidden; }

.modal-content video {
  margin: 0 30%;
  background-color: black; }

.modal-content img {
  margin: 0 35%;
  background-color: black; }

.littleDots {
  margin-top: 30px; }

/*# sourceMappingURL=trial.css.map */
