$exo2: 'exo2', Arial, sans-serif;
$source: 'source', Arial, sans-serif;
$sinkinsans: 'sinkinsans', Helvetica, sans-serif;

@font-face {
    font-family: 'exo2';
    src: url('../fonts/exo2/exo2-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/exo2/exo2-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// permian font
@font-face {
    font-family: 'source';
    src: url('../fonts/source/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/source/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkinsans';
    src: url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.eot');
    src: url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
