/* SCSS file */
/* Here is the styling done for the CSS file */
@import "reset";
@import "words";

$lightGrey: #AEBFC9;
$darkBlue: #000021;
$blue: #093E7D;
$yellow: #FFE368;
$brown: #2B1C14;

// important
.hidden {
  display: none !important;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}

@media (min-width: 1200px) {
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
}

@media (min-width: 768px) {
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

/* Main Stylesheet for MG */

body {
  background-color: $darkBlue;
}

.hidden {
  display: none;
}

#mainHeader {
  background-color: $darkBlue;

  .navbar-toggler {
    border: 1px solid #ffffff;
  }

  #navbarText {
    font-family: $sinkinsans;

    .nav-item {
      padding: 0 15px;

      a {
        color: #ffffff;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .navbar-nav {
      margin: 0 auto;
    }
  }
}

.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0;
}

#mainBanner {
  background: url(../images/banner-background.jpg) no-repeat;

  #stats {
      padding: 22px;
      background-color: $yellow;
      width: 300px;
      font-size: 24px;
      color: $blue;
      font-family: $source;
      font-weight: bold;
    }

    #statsInfographic {
      margin: 50px 0 64px 0;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    @-webkit-keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }

    @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }

    #mgBannerImgs {
      float: right;
      width: 500px;
      bottom: 0;
    }

    #mgBannerImgs {
      float: right;
      width: 500px;
      bottom: 0;
    }

    #mg1 {
      position: absolute;
      z-index: auto;
      bottom: 0;
      opacity: 0;
      animation: mg1 20s infinite;
    }

    #mg2 {
      position: absolute;
      z-index: 1;
      bottom: 0;
      animation: mg2 20s infinite;
    opacity: 0;
    }

    #mg3 {
      position: absolute;
      z-index: 2;
      bottom: 0;
      opacity: 0;
      animation: mg3 20s infinite;

    }

  @keyframes mg1{
  0%{
    opacity: 0;
  }

  10%{
    opacity: 1;
  }

  24%{
    opacity: 1;
  }

  32%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
  }

  @keyframes mg2{
  0%{
    opacity: 0;
  }

  32%{
    opacity: 0;
  }

  42%{
    opacity: 1;
  }

  62%{
    opacity: 1;
  }

  64%{
    opacity: 0;
  }

  100%{
    opacity: 0;
  }
  }

  @keyframes mg3{
  0%{
    opacity: 0;
  }
  64%{
    opacity: 0;
  }
  74%{
    opacity: 1;
  }
  88%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
  }


  #mgQuote {
    background-color: #000d21;
    font-family: 'sourcesans';
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 20px 0;
  }

  #mgQuote p {
    margin-bottom: 0;
  }

  #storeBack {
    background-color: #000021;
    padding: 30px;
  }

  #promoCon {
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 840px;
  }

  #productsCon2 {
    display: none;
  }

  #productsCon3 {
    display: none;
  }

  .products {
    position: relative;
  }

  .test {
    position: relative;
  }

  /*.test a{
    position: absolute;
    top: 50px;
  }*/

  .overlay {
    opacity: 0;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    /*height: 100%;*/
    text-align: center;
    color: #fff;
    font-family: 'sinkinsans';
    top: 40%;
    padding: 10px;
  }

  .overlay:hover {
    opacity: 1;
    text-decoration: none;
    color: #fff;
  }

  .prodName {
    font-family: 'sinkinsans';
    font-size: 12px;
    color: #fff;
    padding-top: 15px;
  }

  .prodPrice {
    font-family: 'sourcesans';
    color: #ffe368;
    bottom: 0;
  }

  .page-link {
    background-color: #000021;
    color: #ffe386;
    border: 1px solid #aebfc9;
  }

  @media (max-width: 575px) {
    .nav-item {
      text-align: center;
      border-bottom: 1px solid #fff;
    }

    #accountNav {
      display: block;
    }

    #statsCon {
      z-index: 3;
    }

    #stats {
      padding: 10px;
      background-color: #ffe368;
      /* width: 300px; */
      font-size: 16px;
      color: #093e7d;
  }

    #statsInfographic {
        margin: 50px 0 64px 0;
        background: rgba(0,0,0,.6);
        padding: 20px;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        /*-webkit-animation-duration: 3s;
        /*animation-duration: 3s;*/
        /*-webkit-animation-fill-mode: both;
        animation-fill-mode: both;*/
    }
  }

  #initS{
    position: none;
    z-index: 5;
    // animation: rings 3.5s;
    // animation-iteration-count: 1;
    opacity: 1;
    // float: left;
    // overflow: hidden;
    //
  }

  @keyframes rings{
    0%{
      opacity: 1;
    }
    60%{
      opacity: 1;
    }
    65%{
      opacity: 0;
    }
  }

  #statI{
    top: 115px;
    position: absolute;
  // animation: rings2 8s;
  z-index: 500;
  }

  @keyframes rings2{
    0%{
      opacity: 0;
    }

  25%{
    opacity: 0;
  }
  30%{
      opacity: 1;
    }

  }
}

#mgQuote {
  background-color: $darkBlue;
  font-family: $source;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 20px 0;

  p {
  margin-bottom: 0;
  }
}

#storeBack {
  background-color: $darkBlue;
  padding: 30px;

  #promoCon {
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 840px;
  }

  h2 {
    color: #fff;
    font-family: $sinkinsans;
    font-size: 20px;
    padding-bottom: 15px;
  }

  #productsCon2 {
    display: none;
  }

  #productsCon3 {
    display: none;
  }

  .products {
    position: relative;

    .overlay {
      opacity: 0;
      position: absolute;
      background-color: rgba(0,0,0,.5);
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: $sinkinsans;
      top: 40%;
      padding: 10px;

      &:hover {
        opacity: 1;
        text-decoration: none;
        color: #fff;
      }
    }

    .prodName {
      font-family: $sinkinsans;
      font-size: 12px;
      color: #fff;
      padding-top: 15px;
    }

    .prodPrice {
      font-family: $source;
      color: $yellow;
      bottom: 0;
    }
  }
}

.page-link {
  background-color: $darkBlue;
  color: $yellow;
  border: 1px solid $lightGrey;
}

#updatesCon {
  background-color: $darkBlue;

  h2 {
    color: #fff;
    font-family: $sinkinsans;
    font-size: 20px;
    padding-bottom: 15px;
  }

  .updatesCard {
    border: 1px #fff solid;
    padding: 15px;
    color: #fff;

    .updatesThumb {
      margin-right: 15px;
      float: left;
    }

    h3 {
      font-family: $sinkinsans;
      font-size: 18px;
      padding-bottom: 5px;
    }

    a {
      color: $yellow;
      padding: 10px 0 0 5px;

      &:hover {
        text-decoration: none;
        color: #fff;
        border: 1px solid $yellow;
        border-radius: 7px;
        padding: 5px;
      }
    }
  }

  #rowBut {
    background-color: $blue;
    padding: 3px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 30px;

    a {
      color: #fff;
      font-family: $source;
      font-size: 20px;

      &:hover {
        text-decoration: none;
        color: $yellow;
      }
    }
  }
}

footer {
  h3 {
    font-family: $sinkinsans;
    color: $blue;
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    font-family: $source;
    color: #fff;
    font-size: 16px;

    &:hover {
      color: $yellow;
      font-weight: bold;
    }
  }

  #footerCol1 {
    border-right: 1px solid #fff;
  }

  #footerCol2 {
    border-right: 1px solid #fff;
  }

  #socialIcons {
    li {
      height: 45px;
      width: 45px;
      margin-right: 10px;
      margin-bottom: 20px;
      display: inline;
    }

    a {
      height: 45px;
      width: 45px;
      margin-bottom: 10px;
      opacity: .8;

      &:hover {
        opacity: .4;
      }
    }
  }

  #footerCol3 {
    border-right: 1px solid #fff;

    #footerNewsletter {
      color: #fff;

      a {
        color: $yellow;
        font-weight: bold;
      }
    }
  }

  #copyRight {
    font-family: $source;
    text-align: center;
    color: #fff;
    padding-top: 10px;
  }
}

@media (max-width: 990px) {
  .nav-item {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 0;

    a:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  #accountNav {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #footerCol1 {
    border-bottom: 1px solid #fff;
  }

  #footerCol2 {
    border-bottom: 1px solid #fff;
    border-right: none !important;
  }

  #footerCol3 {
    padding-top: 15px;
  }

  #footerCol4 {
    padding-top: 15px;
  }
}

@media (max-width: 575px) {
  .nav-item {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 0;

    a:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  #accountNav {
    display: block;
  }

  #statsCon {
    z-index: 3;

    #stats {
      padding: 10px;
      background-color: $yellow;
      font-size: 16px;
      color: $blue;
    }

    #statsInfographic {
        margin: 50px 0 64px 0;
        background: rgba(0,0,0,.6);
        padding: 20px;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
  }

  .updatesCard {
    margin-bottom: 15px;

    h3 {
      font-size: 16px;
    }
  }

  footer {
    text-align: center;

    #footerCol1 {
      border-bottom: 1px solid #fff;
      border-right: none;
    }

    #footerCol2 {
      border-bottom: 1px solid #fff;
      border-right: none;
      padding-top: 15px;
    }

    #footerCol3 {
      border-bottom: 1px solid #fff;
      border-right: none;
      padding-top: 15px;
    }

    #footerCol4 {
      border-bottom: 1px solid #fff;
      padding-top: 15px;
    }
  }
}

// BIO START
#bioDesk {
  border: none;
}

.heading {
  color: #f4f4f4;
  font-size: 1.5em;
  background: #052956;
  padding: 10px;
  // height: 500px;
  transition: 0.3s ease-in;
  cursor: pointer;
  &:hover {
    background: #093e7d;
    img {
      filter: grayscale(0%);
    }
  }
  .h1tag {
    display: none;
    margin: 0 auto;
    // width: 90%;
    text-transform: uppercase;
    position: absolute;
    vertical-align: middle;
    z-index: 20;
    margin-top: 100%;
    h1 {
      // margin-top: 100%;
      text-align: center;
    }
  }
  .whenClick {
    height: 2px;
    text-transform: uppercase;
    position: absolute;
    // vertical-align: middle;
    z-index: 20;
  }
  .disImg {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    filter: grayscale(100%);
    transition: 0.3s ease-in;
  }
}

.desc {
  padding: 30px;
  background: #093e7d;
  color: #b6d3d0;
  font-size: 1.7em;
  p {
    margin-top: 15px;
  }
  .closeBio {
    width: 30px;
    height: 10px;
    float: right;
    background: #8CBCEC;
    clear: both;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
  }
}

#descCol {
  display: none;
}

#descCar {
  display: none;
}

#descPer {
  display: none;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  text-align: center;
}

.card {
  color: #b6d3d0;
  background: #000c20;
  overflow: hidden;
}

.card-header {
  background: #062b5a;
  transition: 0.3s ease-in;
  &:hover {
    background: #0f3d77;
  }
}

.card-body {
  background: #093e7d;
  vertical-align: middle;
  padding: 0;
}

h5 {
  font-family: 'sourcesans', 'Arial', sans-serif;
  font-size: 2em;
  color: #b6d3d0;
  a {
    color: #b6d3d0;
  }
}

.color-img {
  // display: table-cell;;
  background: #000815;
  height: inherit;
  padding: 8px;
  img {
    // vertical-align: middle;
    margin: 0 auto;
    display: block;
    // align-items: center;
  }
}

.desc {
  display: table-cell;
  padding: 30px;
  p {
    vertical-align: middle;
    font-family: 'sinkinsans', 'Arial', sans-serif;
    font-size: 0.8em;
  }
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
}


@font-face {
    font-family: 'sinkinsans';
    src: url('../fonts/sinkin/sinkinsans-400regular-webfont.woff2') format('woff2'),
         url('../fonts/sinkin/sinkinsans-400regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sourcesans';
    src: url('../fonts/sourcesans/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesans/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 425px) and (max-width: 768px) {
  .desc {
    padding: 10px;
    padding-right: 20px;
    font-size: 1.2em;
    p {
      margin-top: 0px;
    }
  }
  .card-body {
    .color-img {
      img {
        margin: 0 auto;
        margin-top: 5%;
      }
    }
  }
}

@media (min-width: 100px) and (max-width: 425px) {
  .desc {
    padding: 20px;
    padding-right: 20px;
    font-size: 0.8em;
    p {
      margin-top: 0px;
    }
  }
  .card-body {
    .color-img {
      img {
        margin: 0 auto;
        margin-top: 0%;
      }
    }
  }

}

//BIO END

//TIMELINE start
.hidden
{
	display: none;
}

li
{
	list-style-type: none;
}

html, .timeline{
  height: 100%;
}
.timeline {
			background-image: url(../images/timeline/bg-bolt.jpg);
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
      // width: 100vw;
      // display: flex;
  			transition: 1.5s;
}

.timeline {
  width: 100%;
}

div, .timeline{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;

}
.container {
  height: 100%;
  width: 100%;
}

h2
{
	color: $yellow;
	font-weight: 700;
	font-size: 3em;
}

.text {
  p {
    color: #ffff;
  	font-family: $source;
  	font-size: 20px;
  	padding-top: 20px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
  }
}

.firstRow
{
	opacity: .5;
	cursor: pointer;
	transition: .3s;
}

.secondRow
{
	opacity: .5;
	cursor: pointer;
	transition: .3s;
}

.thirdRow
{
	opacity: .5;
	cursor: pointer;
	transition: .3s;
}

.fourthRow
{
	opacity: .5;
	cursor: pointer;
	transition: .3s;
}

.fifthRow
{
	opacity: .5;
	cursor: pointer;
	transition: .3s;
}

.lastRow
{
	opacity: .5;
	cursor: pointer;
	transition: .3s;
}

.firstRow:hover
{
	opacity: 1;
	transition: .3s;
}

.secondRow:hover
{
	opacity: 1;
	transition: .3s;
}

.thirdRow:hover
{
	opacity: 1;
	transition: .3s;
}

.fourthRow:hover
{
	opacity: 1;
	transition: .3s;
}

.fifthRow:hover
{
	opacity: 1;
	transition: .3s;
}

.lastRow:hover
{
	opacity: 1;
	transition: .3s;
}

.image
{
	display: block;
	padding-top: 20px;
}

@media screen and (max-width: 62em)
{
	.timeline
	{
		transition: 1s;
	}
}

@media screen and (max-width: 48em)
{
	.timeline
	{
		transition: 1s;
	}

	.image
	{
		display: none;
	}

	.text
	{
		opacity: 1;
		cursor: auto;
	}

	.firstRow
	{
		opacity: 1;
		cursor: pointer;
		transition: .3s;
	}

	.secondRow
	{
		opacity: 1;
		cursor: pointer;
		transition: .3s;
	}

	.thirdRow
	{
		opacity: 1;
		cursor: pointer;
		transition: .3s;
	}

	.fourthRow
	{
		opacity: 1;
		cursor: pointer;
		transition: .3s;
	}

	.fifthRow
	{
		opacity: 1;
		cursor: pointer;
		transition: .3s;
	}

	.lastRow
	{
		opacity: 1;
		cursor: pointer;
		transition: .3s;
	}

}

// TIMELINE END

// POP UP STORE START
.prodInf {
  /* display: none; */
  // width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  z-index: 400;
  img {
    display: block;
    margin: 0 auto;
  }
  .details {
    margin-left: 10px;
  }
  .prodDetails {
    margin-top: 1%;
    background: #083e7d;
    padding: 20px;
    color: #c0cdd5;
  }
  .colnqty {
    margin-top: 30px;
  }
  .blueB {
    display: inline-block;
    background: #2e447a;
    border: 6px white;
    height: 35px;
    width: 45px;
  }
  input {
    display: inline-block;
    width: 45px;
  }
  .sizes {
    span {
      padding: 2px;
      margin: 10px;
      float: left;
      display: inline-block;
      width: 40px;
      // height: 10px;
      background: #6d8dad;
      text-align: center;
      transition: 0.2s ease-in;
      &:hover {
        background: #4f6e8c;
      }
    }
  }
}

.closePU {
  font-size: 1.5em;
  color: #c0cdd5;
  text-decoration: none;
}

#addcart {
  padding: 20px;
  border: none;
  background: #000d22;
  color: #c0cdd5;
  font-size: 1.5em;
  // margin-bottom: 20px;
  transition: 0.5s ease-in;
  &:hover {
    background: #335387;
    // opacity: 0.5;
  }
}

.buttonCart {
  margin-top: 50px;
  margin-bottom: 20px;
}

#popUp-men28 {
  display: none;
}

.notice {
  font-size: .8em;
}

.headerDet {
  margin-bottom: 20px;
}

// offset codes
@media (min-width: 1024px) {
.col-lg-offset-1 {
  margin-left: 8.33333333%;
}
}

@media (max-width: 992px) {
.col-md-offset-1 {
  margin-left: 8.33333333%;
}
}

@media (max-width: 768px) {
.col-sm-offset-1 {
  margin-left: 8.33333333%;
}
}

// hidden codes
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/* FILTER */
.filter {
  display: block;
  position: absolute;
  z-index: 400;
  height: 200px;
  width: 150px;
  margin-left: -15%;
  margin-top: 15%;
  background: #4e5d6c;
  // padding: 2px;
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffe56a;
    font-size: 2em;
    text-align: center;
    padding-right: 250px;
    transform: rotate(-90deg);
  }
}

.filterInf {
  display: none;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  padding-top: 50px;
  width: 150%;
  z-index: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3e7ed;
  margin-left: -10px;
  .filtinfo {
    width: 120%;
    background: #083e7d;
    padding: 20px;
    ul {
      margin-left: 0;
      li {
        list-style: none;
        font-size: 1.5em;
      }
    }
  }
}

.filtPhone {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3e7ed;
  .filTitle {
      font-size: 1em;
  }
    ul {
      margin-left: 0;
      li {
        list-style: none;
        font-size: 1em;
      }
    }
}
// POP UP STORE end

//GALLERY start

.carousel-indicators {
    position: relative;
    overflow: hidden;
    margin-top: 5%;
}

.carousel-item{
    max-height:100vh;
    min-width: 100%;
}


#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;

    z-index:1032;
}

// video {
//   height: 350px;
// }
//
// @media screen and (min-width: 1024px) {
//   video {
//     height: 287.43px;
//   }
// }

/*div {
	/*border:1px solid white;
	background-color: black;
	color: white;
	text-align: center;
}*/

.hidden {
	display: none;
}

.empty{
	background-color: white;
}

.header{
	height: 288px;
}


.line > .verticalLine {
  padding: 0 8px;
}

.line:after {
  content: "";
  display: table;
  clear: both;
}

.verticalLine {
  float: left;
  /*width: 25%;*/
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: black;

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  // padding: 5%;
  /* width: 90%; */
  /* max-width: 1200px; */
	width: 100%;
	overflow: hidden;
// :first-child{
//   width: 1000px;
// }
}

// .modal-content video{
// margin: 0 30%;
// background-color: black;
// }


// .modal-content img{
// margin: 0 35%;
// background-color: black;
// }

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fefefe;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
	display: none;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: black;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


//GALLERY end

//Newsletter
.newsletter{
  background-color: #083e7d;
  // height: 200%;
  margin-bottom: 30px;
  color: white;
padding: 5%;

}

.btn-outline-success:hover{
  background-color: #000d22;
  border-color: #000d22;
}

.btn{
  border-color: #000d22;
  color: #000d22;
}

input::-webkit-input-placeholder {
color: #000d22 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #000d22 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #000d22 !important;
}

input:-ms-input-placeholder {
color: #000d22 !important;
}

.emailsub{
  float: left;
}
// End mewsletter


// Sign iN
.signinPg {
  display: none;
  position: fixed;
  z-index: 500;
  height: auto;
  width: 90%;
  margin-left: 10%;
  background: #083e7d;
  padding: 1%;
  top: 30%;
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffe56a;
    font-size: 2em;

    // text-align: center;
    // padding-right: 250px;
    // transform: rotate(-90deg);
  }
  label{
    color: white;
  }
}

.signinform{
  float:left;

}

.regform{
  float: right;
}
// End Sign in

@media (max-width:450px)
{
  .carousel{
    img {
      width: 160px;
    }
  }
}
